<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


@model Web_TracNghiem_HTSV.Models.Answer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="AnswerId" class="control-label"></label>
                <input asp-for="AnswerId" class="form-control" />
                <span asp-validation-for="AnswerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerDescription" class="control-label"></label>
                <input asp-for="AnswerDescription" class="form-control" />
                <span asp-validation-for="AnswerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId" id="questionIdSelect"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#questionIdSelect').select2({
                placeholder: 'Select a question',
                allowClear: true
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
