<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">



<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2 style="color: #3498db">KEE TEST</h2>
            <p>"Thành công không đến từ việc biết nhiều, mà từ việc áp dụng hiệu quả những gì bạn biết."</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Chuyến đi</a></h4>
                    <p class="description">Khám phá những chuyến đi hấp dẫn và thú vị, mở ra cánh cửa tới những địa điểm mới mẻ và kỳ diệu.</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Kiến thức</a></h4>
                    <p class="description">Tích lũy nhiều kiến thức từ mỗi hành trình đầy bổ ích và những bài học trong cuộc sống.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Kinh nghiệm</a></h4>
                    <p class="description">Học hỏi từ những kinh nghiệm thực tế, từ những người bạn mới và từ những thử thách mà bạn vượt qua.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Trải nghiệm</a></h4>
                    <p class="description">Trải nghiệm mọi cung bậc cảm xúc, từ những buổi gặp gỡ thân mật đến những hoạt động phiêu lưu thú vị.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->


