@page
@model ForgotPasswordModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div style="margin-top: 60px">
    <div class="min-h-screen flex items-center  justify-center pt-5">
        <div class="bg-white shadow-none rounded-lg p-6 w-full sm:w-96">
            <a href="/Home" class="flex justify-center mb-4">
                <img src="/assets/img/k2e_icon_logo.png" width="90" alt="Logo">
            </a>
            <p class="text-center mb-4 text-gray-700">Hi! I'm Hanh Trinh Sinh Vien Club</p>
            <form id="account" method="post" class="space-y-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-2">
                    <label asp-for="Input.Email" for="Input_Email" class="block mb-1 text-gray-600">Email</label>
                    <input type="email" asp-for="Input.Email" class="form-input w-full rounded-lg border-gray-300 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" id="Input_Email" aria-describedby="emailHelp" aria-required="true" required>
                    <span asp-validation-for="Input.Email" class="text-sm text-red-500">Lưu ý: Hãy nhập chính xác Email của bạn!</span>
                </div>
                <button id="login-submit" type="submit" class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg text-lg w-full">
                    Đặt lại mật khẩu
                </button>
                <div class="flex items-center justify-center text-sm mt-4">
                    <a class="text-blue-500 font-semibold ml-2" asp-page="./Login">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>




@* @page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@