@page
@model ForgotPasswordModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<link rel="stylesheet" href="~/Login_Register/src/assets/css/styles.min.css" />


<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3" style="width: 500px; margin-top: -180px">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="/Home" class="text-nowrap logo-img text-center d-flex py-3 w-100" style="justify-content: center">
                                <img src="~/Login_Register/src/assets/images/logos/logo_clb.png" width="180" alt="">
                            </a>
                            <p class="text-center">Hi! I'm Hanh Trinh Sinh Vien Club</p>
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="mb-3">
                                    <label asp-for="Input.Email" for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" asp-for="Input.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" aria-required="true" required>
                                    <span asp-validation-for="Input.Email" class="text-danger">Lưu ý: Hãy nhập chính xác Email của bạn!</span>
                                </div>
                                <button id="login-submit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đặt lại mật khẩu</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-primary fw-bold ms-2" asp-page="./Login">Quay lại</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Login_Register/src/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Login_Register/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>








@* @page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@