@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đổi mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được thiết lập lại. Vui lòng <a asp-page="./Login">nhấp vào đây để đăng nhập</a>.
</p>
